@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,700;1,700&family=Tilt+Warp&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.preloaderimage{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 10; 
}
.preloaderimage img{
    width: 100%;
    height: 80%; 
}
.swiper{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.nav-bar{
    width: 100%;
    margin: 0;
    padding: 0; 
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
    
}
.nav-bar .container1{
    padding: 10px;
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-menu.scroll-nav{
    background: rgba(0, 0, 0, 0.582);
}

.nav-bar .nav_items ul{
    display: flex;  
}
.nav-bar .nav_items ul li{
    list-style: none;
}
.nav-bar .nav_items ul .correct{
    list-style: none;

}

.nav-bar .nav_items ul li a{
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    
}
.nav-bar .main_logo img{
    width: 80px;    
}
.menu{
    position: absolute;
    right: 0;
    color: white;
    font-size: 2rem;
    color: white;
    display: none;
}
#close{
    display: none;
}
.nav-bar .nav_items .hoff a{
    background: #0D860D;
    padding: 5px 10px;
    border-radius: 15px;
    transition-delay: 0.1s;
    transition: ease-in 1s;
}
.nav-bar .nav_items .dif a{
    color: #F48B12;
    transition: ease-in-out 1s;
}
.nav-bar .nav_items .dif a:hover{
    color: #0D860D;
}
.nav-bar .nav_items .ore{
    position: relative;
}
.nav_items ul .one{
    padding: 5px 10px;
    font-size: 11px;
}

.first-section{
    width: 100%;
    height: 100vh;
    background: red;
    display: grid;
    place-items: center;

}

/* This is the mobile view */
.dropdown{
    width: 100%;
    position: absolute;
    z-index: 3;
    background: white;
    top: 0;
    margin-top: 8rem;
    display: none;
}
.dropdown.book{
    display: block;
}
.dropdown ul li{
    list-style: none;
    padding: 10px
}
.dropdown ul {
    padding-left: 0;
}
.dropdown ul li:hover{
    background: orangered;
    border-left: 7px solid black;
}
.dropdown ul a li:hover{
    color: white;
}
.dropdown .shade{
    background: black;
    color: white;
}

.dropdown .shade a{
    color: white;
}
.dropdown .shade a{
    text-decoration: none;
    color: black;
}
.dropdown ul a{
    text-decoration: none;
    font-weight: bolder;
    color: black
}
.dropdown ul li span i{
    float: right;
} 
/* The mobile view ends here */

.first-section .first-section-sub{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 2fr));
    z-index: 1;
    row-gap: 0px;
    position: absolute;
    bottom: 0;
}
.first-section-sub .writeup{
    width: 90%;
    display: grid;
    place-items: center;
}
.first-section-sub .image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-section-sub .image img{
    width: 420px;
    transform: scaleX(-1);
    margin-bottom: 0px;
    
}

.writeup .business-name h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 8vw;
    margin-bottom: -10px;
}
.writeup .business-name h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3vw;
    text-align: right;
    margin-bottom: -10px;
} 
.writeup .about{
    margin: 20px auto;
}
.writeup .about{
    box-sizing: border-box;
    padding: 15px;
    background: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px black;
    animation: 2s infinite drop;
    animation-play-state: running;
}

@keyframes drop {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
} 
.writeup .about a{
    text-decoration: none;
    color: white;
} 

/* Second section starts from here */
.second-section{
    width: 100%;
    background: white;
    margin: 0;
    padding: 0;
}
.second-section .part1{
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    position: relative;
}
.second-section .part1 .mai_image{
    width: 100%;
    object-fit: contain;
}
.second-section .part1 .mai_image img{
    width: 100%;
    height: 50vh;
} 
.second-section .partnew{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    margin-top: 80px;
}
.second-section .part1 .mylogo2{
    border-right: 3px solid #F48B12;
    padding: 10px;
}
.second-section .part1 .mylogo2 img{
    width: 80px;
}
.second-section .partnew .whatido{
    width: 100px;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #F48B12;
    padding-left: 10px;
}
.second-section .partnew .whatido h2{
    font-size: 25px;
    color: black;
}
.second-section .part1 .youth{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    font-size: 25px;
    transform: translateY(50px);
}
.second-section .part2{
    display: grid;
    place-items: center;
}
.second-section .part2 .box{
    width: 98%;
    padding: 10px;
    display: grid;
    background:white;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax( 15rem, 4fr));
    grid-gap: 1rem;
    margin-top: -50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.477);
}

.second-section .part2 .box .box1{
    background: #07141A;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    display: grid;
    place-items: center;
    color: white;
    transition: 1s ease;
    padding: 10px;
    width: 55%;
}
.second-section .part2 .box .box1:hover{
    transform: scale(1.1);
}
.second-section .part2{
    position: relative;
}
.second-section .part2 .box .box1 i{
    color: #F48B12;
    padding: 10px;
    background:#020000;
    border-radius: 50%;
    font-size: 20px;
    transition: 1s ease-out;
}
.second-section .part2 .box .box1 i:hover{
    color: white;
}
.second-section .part2 .box .box1 h3{
    text-transform: capitalize;
    margin: 10px 0px 10px 0px;
    font-size: 1.3rem;
    text-align: center;
    transition: 1s ease-out;
}
.second-section .part2 .box .box1 h3:hover{
    color: #F48B12;
}
.second-section .part2 .box .box1 p a{
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: .9rem;
    transition: 1s ease-out;
}
.second-section .part2 .box .box1 p a:hover{
    color: #F48B12;
} 
.second-section .direction{
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 15px;
    position: absolute;
    margin-top: -100px;
    z-index: 1000;
    
}
.second-section .direction a i{
    background: #07141A;
    color: #F48B12;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    transition: ease-in 1s;
    
}
.second-section .direction a i:hover{
    background: #F48B12;
    color: white;
}

.third-section{
    width: 100%;
    position: relative;
    
}
.third-section .third-image img{
    width: 100%;
    display: grid;
    place-items: center;
}
.third-section .part1{
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;

}
.third-section .partnew{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.third-section .part1 .mylogo2{
    border-right: 3px solid #F48B12;
    padding: 10px;
}
.third-section .part1 .mylogo2 img{
    width: 80px;
}
.third-section .partnew .whatido{
    display: grid;
    place-items: center;
    width: 2rem;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.third-section .partnew .whatido h2{
    font-size: 1.2rem;
}
.third-section .part2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    margin: 11rem auto;
}
.third-section .part2 .averter img{
    width: 100%;
    transform: scaleX(-1);
    
}
.third-section .part2 .notice{
    display: grid;
    place-items: center;
    padding: 5px;
}
.third-section .part2 .notice .note{
    width: 100%;
    max-width: 35rem;
    height: 350px;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    
}
.third-section .part2 .notice .note::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0px 50px 0px 0px;
    background: url(../images/background_3.png) no-repeat;
    background-position: center;
    right: -30px;
    top: 0;
    margin-top: -52px;
    margin-right: 50px;
    border: 2px solid white;
    border-bottom: none;
}
.third-section .part2 .notice .note .writenow{
    width: 100%;
    max-width: 400px;
    height: 320px;
    text-align: justify;
    overflow-y: scroll ;
    font-size: 18px;
    color: white;
    
}
marquee{
    color: #F48B12;
    font-size: 20px;

}
.third-section .part2 .notice .note .writenow::-webkit-scrollbar{
    display: none;
}

/* This is the fourth-section */
.fourth-section{
    background: #000000;
    position: relative;
    padding-top: 60px;
    display: grid;
    place-items: center;
}
.fourth-section .cup{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 3fr));
    grid-gap: 20px;
    justify-content: space-around;
}
.fourth-section .cup .about h3{
    color: #F48B12;
    font-family:'Gill Sans';
    transition: .8s ease-out;
    padding-bottom: 10px;
}
.fourth-section .cup .about h3:hover{
    color:#0D860D;
}
.fourth-section .cup .about p{
    color: white;
    text-align: justify;
    line-height: 20px;
    font-family:'Gill Sans';
}
.fourth-section .cup .about .media{
    margin-top: 30px;
}
.fourth-section .cup .about .media a i{
    color: white;
    text-decoration: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.185);
    border-radius: 50%;
    margin-right: 10px;
    transition: .4s ease-in;
}
.fourth-section .cup .about .media a i:hover{
    color: black;
    background: #F48B12;
}
.fourth-section .cup .about p strong{
    color: #12E4F4;
    padding-top: 30px;
    transition: .4s ease-out;
}
.fourth-section .cup .about p strong:hover{
    color:#F48B12;
}

.fourth-section .cup .contact{
    padding: 0px 15px;
}
.fourth-section .cup .contact p{
    color: white;
    font-family:'Gill Sans';
    transition: .4s ease-in;
    margin-bottom: 10px;
}
.fourth-section .cup .contact p:hover{
    color: #F48B12;
}
.fourth-section .cup .contact p i{
    padding-right: 15px;
}
.fourth-section .cup .contact h3{
    color: #F48B12;
    padding-bottom: 10px;
    transition: .4s ease-out;
}
.fourth-section .cup .contact h3:hover{
    color:#0D860D;
}

.fourth-section .cup .events h3{
    color: #F48B12;
    transition: .4s ease-out;
    padding-bottom: 10px;
}
.fourth-section .cup .events h3:hover{
    color:#0D860D;
}
.fourth-section .cup .events p{
    color: white;
    line-height: 20px;
    text-align: justify;
}


.fourth-section .partnew{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.fourth-section .partnew .mylogo2{
    border-right: 3px solid #F48B12;
    padding: 10px;
}
.fourth-section .partnew .mylogo2 img{
    width: 80px;
}
.fourth-section .partnew .whatido{
    display: grid;
    place-items: center;
    width: 2rem;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fourth-section .partnew .whatido h2{
    font-size: 1.2rem;
}

@media only screen and (max-width: 780px){
    .first-section .image img{
        width: 350px;
        
    }
    .second-section .part1 .partnew{
        margin-top: 20px;
    }

    .second-section .partnew .whatido h2{
        font-size: 20px;
    }
    .second-section .part1 .youth{
        transform: translateY(-5px);
        font-size: 1.4rem;
    }

    .third-section .third-image img{
        width: 100%;
        height: 190vh;
        display: grid;
        place-items: center;
    }

}

@media only screen and (max-width: 500px){
    .swiper{
        width: 100%;
    }
    .nav-bar .nav_items{
        display: none;
    }
    .nav-bar .menu{
        display: block;
        margin-right: 40px;
        transform: scale(.7);
    }
    .first-section{
        object-fit: cover;
    }
    .first-section .dropdown{
        margin-top: 85px;
    }
    .nav-bar .main_logo img{
        width: 60px; 

    }

    .first-section .first-section-sub{
        width: 100%;
        display: flex;
        flex-flow: row wrap-reverse;   
        bottom: 0;
    }
    .first-section-sub .image img{
        width: 200px;
        transform: translateY(-20px);
        border: solid 1px black;
        border-radius: 50%;  
        background: black;

    }
    .writeup .business-name{
        padding: 10px;
        margin-top: -30px;
    }
    .writeup .business-name h1{
        font-size: 70px;
    }
    .writeup .business-name h2{
        color: white;
        font-size: 25px;
    }
    .second-section .part2 .box .box1{
        width: 180px;
    }
    .third-section .part2 .averter img{
        width: 85%;        
    }
    .third-section .third-image img{
        width: 100%;
        height: 190vh;
    }
}
@media only screen and (max-width: 376px){
    .nav-bar .main_logo img{
        width: 50px;    
    }
    .menu{
        margin-top: -15px;
    }
    .first-section-sub{
        transform: translateY(-30px);
    }
    .writeup .business-name h1{
        font-size: 50px;
    }
    .writeup .business-name h2{
        font-size: 20px;
        transform: translateY(10px);
    }
    .second-section .part1 .whatido h2{
        font-size: 17px;
    
    }
    .second-section .part1 .youth{
        font-size: 17px;
       
    }

}
@media only screen and (max-width: 320px){
    .fourth-section .partnew{
     margin-left: 50px;
    }
    .contact p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 250px){
    .nav-bar{
        width: 100%;
    }
    .nav-bar .menu{
        font-size: 25px;
        margin-right: 10px;
    }
    .first-section-sub .image img{
        width: 200px;
    }
    .writeup .business-name h1{
        font-size: 40px;
    }
    .writeup .business-name h2{
        font-size: 15px;
    }
    .second-section .part1 .youth{
        font-size: 15px;
        transform: translateY(-20px);
    }
    .second-section .partnew .mylogo2 img{
        width: 60px;
    }
    .second-section .partnew .whatido h2{
        font-size: 15px;

    }
    .second-section .part2 .box{
        padding-left: 0px;
        transform: translateY(-50px);
    }
    .second-section .direction{
        transform: translateY(-40px);
    }
    .third-section .partnew{
        margin-left: 30px;
    }
    .third-section .partnew .mylogo2 img{
        width: 60px;
    }
    .third-section .partnew .whatido h2{
        font-size: 15px;
    }
    .third-section .part2 .averter img{
        transform: translateY(-30px);

    }
    .third-section .part2 .notice .note::after{
        width: 40px;
        height: 40px;
        margin-top: -41.5px;
    }
    .third-section .third-image img{
        height: 160vh;
    }

    .fourth-section .cup{
        width: 75%;
        margin-left: -5px;
    }
    .fourth-section .cup .about{
        width: 85%;
        padding: 0px 10px;
    }
    .fourth-section .cup .about p, strong{
        font-size: 13px;
        width: 90%;
    }
    .fourth-section .media a i{
        font-size: 11px;
    }
    .fourth-section .cup .contact{
        width: 85%;
    }
    .fourth-section .contact p{
        font-size: 12px;
    }
    .fourth-section .cup .events{
        width: 85%;
        padding: 0px 15px;
    }
    .fourth-section .events p{
        font-size: 12px;
    }
    .fourth-section .partnew{
        margin-left: 40px;
    }
    .fourth-section .partnew .mylogo2 img{
        width: 50px;
    }
    .fourth-section .partnew .whatido h2{
        font-size: 14px;
    }
}

@media only screen and (max-width: 200px){
    .nav-bar{
        width: 98%;
    }
    .nav-bar .menu{
        margin-right: 20px;
    }
    .first-section-sub .image img{
        width: 160px;
        transform: translateY(-40px);
    }
    .writeup .business-name h1{
        font-size: 30px;
    }
    .writeup .business-name h2{
        font-size: 10px;
    }
    .second-section .part1 .youth{
        font-size: 13px;
    }
    .second-section .part2 .box{
        background: white;
        padding: 10px;
        width: 80%;
        margin-left: -30px;
    }
    .second-section .part2 .box .box1{
        margin-left: -70px;
        width: 130px;
        
    }
    .second-section .part2 .box .box1 h3{
        font-size: 15px;
    }
     .second-section .part2 .box .box1 p a{
        font-size: 12px;
        color: orange;
    }
    .third-section .partnew{
        margin-left: 10px;
    }
   
    .fourth-section{
        overflow-x: hidden;
    }
    .fourth-section .cup{
        padding: 0;
        margin-left: -10px;
    }
    .fourth-section .cup .about{
        padding: 0px 5px;
    }
    .fourth-section .cup .about h3{
        font-size: 15px;
        margin-left: 15px;
    }
    .fourth-section .cup .about p{
        font-size: 10px;
        color: orange;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 15px;
        display: none;
    }
    .fourth-section .cup .contact{
        padding-left: 5px;
    }
    .fourth-section .contact h3{
        margin-left: 10px;
        font-size: 15px;
    }
    .fourth-section .contact p{
        font-size: 12px;
        margin-left: 10px;
    }
    .fourth-section .contact p strong{
        font-size: 10px;
        margin-left: 10px;
    }
    .fourth-section .contact p i{
        display: none;
    }
    .fourth-section .cup .events{
        padding: 0px 5px;
    }
    .fourth-section .events h3{
        font-size: 15px;
        margin-left: 10px;
    }
    .fourth-section .events p{
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
        display: none;
    }
    .fourth-section .partnew{
        margin-left: 30px;
    }
    .fourth-section .partnew .mylogo2 img{
        width: 45px;
    }
    .fourth-section .partnew .whatido h2{
        font-size: 12px;
    }
} 